[submodule "NQNBackend"]
	path = NQNBackend
	url = git@github.com:NQN-Discord/NQNBackend.git
[submodule "NQNFrontend"]
	path = NQNFrontend
	url = git@github.com:NQN-Discord/NQNFrontend.git
[submodule "GatewayHandler"]
	path = GatewayHandler
	url = git@github.com:NQN-Discord/GatewayHandler.git
[submodule "StatusUpdate"]
	path = StatusUpdate
	url = git@github.com:NQN-Discord/StatusUpdate.git
[submodule "MemberKeeper"]
	path = MemberKeeper
	url = git@github.com:NQN-Discord/MemberKeeper.git
[submodule "ReactionHandler"]
	path = ReactionHandler
	url = git@github.com:NQN-Discord/ReactionHandler.git
[submodule "MessageHandler"]
	path = MessageHandler
	url = git@github.com:NQN-Discord/MessageHandler.git
[submodule "StateKeeper"]
	path = StateKeeper
	url = git@github.com:NQN-Discord/StateKeeper.git
[submodule "GuildBuilder"]
	path = GuildBuilder
	url = git@github.com:NQN-Discord/GuildBuilder.git
[submodule "EmoteHasher"]
	path = EmoteHasher
	url = git@github.com:NQN-Discord/EmoteHasher.git
[submodule "CronScheduler"]
	path = CronScheduler
	url = git@github.com:NQN-Discord/CronScheduler.git
[submodule "PackEmoteUpdater"]
	path = PackEmoteUpdater
	url = git@github.com:NQN-Discord/PackEmoteUpdater.git
[submodule "WebhookHelper"]
	path = WebhookHelper
	url = git@github.com:NQN-Discord/WebhookHelper.git
[submodule "nqn_common"]
	path = nqn_common
	url = git@github.com:NQN-Discord/nqn_common.git
